.submit {
  padding: 9px;

  box-sizing: border-box;

  background: antiquewhite;

  border: 0;

  margin-bottom: 8px;

  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.submit:hover {
  background-color: #ffd399;

  font-weight: 500;
  color: rgb(51, 71, 133);
  border-width: 1px;
  border-style: dashed;
}

.submit:active {
  font-weight: 500;
  color: rgb(139, 61, 109);
  border-width: 1px;
}
